@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<JB.Security.SecurityVulnerabilities.Models.DisplayItem>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<div id="Items-@Dnn.ModuleContext.ModuleId">
        @Html.Raw(Model.Display)
</div>