@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<JB.Security.SecurityVulnerabilities.Models.DisplayItem>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (String.IsNullOrEmpty(Model.Title))
    {
        <p>Edit Content.</p>
    }
    else
    {
        @Html.Raw(Model.Display)
        ////@Model.Display
    }

    <a href="@Url.Action("Edit", "DisplayItem", new {ctl = "Edit"})">@Dnn.LocalizeString("EditItem")</a>
</div>